{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
  <title>Index</title>
{% endblock %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>{% translate 'Books:' %}</strong> {{ num_books }}</li>
    <li><strong>{% translate 'Copies:' %}</strong> {{ num_instances }}</li>
    <li><strong>{% translate 'Copies available:' %}</strong> {{ num_instances_available }}</li>
    <li><strong>{% translate 'Authors:' %}</strong> {{ num_authors }}</li>
    <li>
      <strong>{% translate 'Books contain' %} "{{num_books_search.key}}":</strong>
      {{num_books_search.value}}
    </li>
    <li>
      <strong>{% translate 'Genres contain' %} "{{num_genres_search.key}}":</strong>
      {{num_genres_search.value}}
    </li>
  </ul>

  <p>
    {% blocktranslate %}
      You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    {% endblocktranslate %}
  </p>
{% endblock %}
